<div class="login-form">
    <form [formGroup]="loginform" (ngSubmit)="onSubmit(loginform)">
		<h2>Login</h2>
		<hr>
        <div class="form-group">
        	<div class="col"  [ngClass]="{'has-error':formErrors.email}">
                <label class="label" for="email">Email:</label>
                <input type="text" class="form-control" name="email" placeholder="email" formControlName="email"
                (blur)="logValidationErrors()"/>
                <span>{{formErrors.email}}</span>
            </div>
        </div>
		<div class="form-group">
            <div class="col"  [ngClass]="{'has-error':formErrors.password}">
                <label class="label" for="email">Password:</label>
                <input type="text" class="form-control" name="password" placeholder="password" formControlName="password"
                (blur)="logValidationErrors()"/>
                <span>{{formErrors.password}}</span>
            </div>
        </div>
        <div class="d-flex justify-content-around form-group">
        <div>
              <!-- Remember me -->
            <label class="form-check-label"><input type="checkbox" required="required">  Remember me</label>
        </div>
        <div>
              <!-- Forgot password -->
            <a href="">Forgot password?</a>
        </div>
        </div>
		<div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </div>

    <div class="hint-text">Not a member?  <a [routerLink]="['/register']">Register</a></div>
    </form>
</div>
<app-footer></app-footer>