<app-navbar></app-navbar>
<h2 style="text-align:center">Our Team</h2>
<div class="container">
    <div class="row mb-4 mt-4">
        <div class="col-4">
          <div class="card">
            <img src="./../../../assets/harsh.jpg" alt="Harsh" style="width:100%; height: 300px;">
            <div class="container">
              <h2>Harsh Shah</h2>
              <strong>harsh.jagesh@gmail.com</strong>
            </div>
          </div>
        </div>
        <div class="col-4 offset-2">
          <div class="card">
            <img src="./../../../assets/apurv.jpeg" alt="Apurv" style="width:100%; height: 300px;">
            <div class="container">
              <h2>Apurv Sonawane</h2>
              <strong>apurv@gmail.com</strong>
            </div>
          </div>
        </div>
       </div>
        <div class="row mb-4">
        <div class="col-4">
          <div class="card">
            <img src="./../../../assets/chinmay.jpeg" alt="Chinmay" style="width:100%;height: 300px;">
            <div class="container">
              <h2>Chinmay Ghosalkar</h2>
             
              <strong>chinmay@gmail.com</strong>
            </div>
        </div>
      </div>
      <div class="col-4 offset-2">
          <div class="card">
            <img src="./../../../assets/chetna.jpeg" alt="Chetna" style="width:100%; height: 300px;">
            <div class="container">
              <h2>Chetna Mandwade</h2>
             
              <strong>chetnamandwade12@gmail.com</strong>
            </div>
          </div>
        </div>
      </div>
</div>
<app-footer></app-footer>