<app-navbar></app-navbar>

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 col-sm-12">
            <h1>Welcome to Bookmart</h1>
            <h2>Buy or Rent your favourite book from here</h2>
            <div>
                <button class="btn btn-primary" [routerLink]="'/books'">Explore Books</button>
            </div>
        </div>
        
    <div class="col-lg-6">
            <img src="./../../../assets/home.png">
    </div>
        <header class="text-center">
            <p class="small text-muted small text-uppercase mb-1">Go thorugh the latest collection for buying and renting books</p>
            <h2 class="h5 text-uppercase mb-4">Popular Books</h2>
        </header>
    </div>
    <div  *ngFor = "let a of popularBooks">
        <app-card [singlebook] = a></app-card>
     </div>
     
</div>





